@media only screen and (min-device-width: 1200px) {

  * {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }

  html {
    scroll-behavior: smooth;
    scroll-margin-top: -100px;
  }

  .classli {
    padding-top: 52px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .color {
    background-color: #5099d2;
    font-family: 'Roboto', sans-serif;
  }

  .small-logo {
    width: 4vw;
    height: 4vh;
    margin-top: 8%;
  }

  h1 {
    left: 410px;
    display: inline-block;
  }

  .img {
    height: 42vh;
    width: 20vw;
    border-radius: 100%;
    margin-top: 150px;
    margin-left: 39.6%;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 0px #000000; 
    box-shadow: 5px 5px 15px 0px #000000;
    max-width: 100%;
    min-width: 300px;
  }


  .intro {
    width: 100vw;
    height: 100vh;
    background-color: #B762C1;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /*.intro-img {
    background-image: url(images/3717325.png);
    width: 25%;
    height: 95%;
    border-radius: 8%;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
  }*/

  .intro-p {
    position: relative;
    text-align: justify;
    display: inline-block;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: auto;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 64px;
    color: #fff;
  }

  .inlineList {
    display: flex;
    flex-direction: row;
     /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
    justify-content: flex-start; 
     /* Below removes bullets and cleans white-space */
    list-style: none;
    padding: 0;
     /* Bonus: forces no word-wrap */
    white-space: nowrap;
  }

  .services {

    background-color: #5099d2;
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 120vh;
  }

  .services-image {
    background-size: contain;
    background-repeat: no-repeat;

  }

  li {
    margin-left: 8%;
  }

  .cardsize {
    width: 25vw;
    height: 70vh;
    border-radius: 5%;
    margin-top: 25%;
    margin-left: -13%;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 15px 0px #000000; 
    box-shadow: 5px 5px 15px 0px #000000;
  }

  .contact {
    background-color: #FFCDDD;
    width: 100vw;
    height: 30vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  .terap {
    margin: -30px;
    width: 13vw;
    height: 25vh;
    border-radius: 100%;
    -webkit-box-shadow: 5px 5px 15px 0px #000000; 
    box-shadow: 5px 5px 15px 0px #000000;
  }

  .endereco {
    margin-top: 1%;
  }

  .descri {
    margin-top: 3%;
  }

  .links {
    margin-top: 6%;
    margin-left: 7%;
    height: 2%;
    padding: 5px;
    border-radius: 20%;
    -webkit-box-shadow: 3px 3px 10px 0px #000000; 
    box-shadow: 3px 3px 10px 0px #000000;
  }

  .iconsize {
    width: 1.5vw;
    height: 3vh;
  }


  #servicos {
    scroll-margin-top: -155px;
  }

}

@media only screen and (max-device-width: 480px) {
  .links {
    margin-top: -1%;
    margin-right: 41%;
    margin-left: 53%;
    height: 2%;
    padding: 5px;
    border-radius: 20%;
    -webkit-box-shadow: 3px 3px 10px 0px #000000;
    box-shadow: 3px 3px 10px 0px #000000;
}
 
 .img {
    height: 31vh;
    width: 20vw;
    border-radius: 100%;
    margin-top: 336px;
    margin-left: 39.6%;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 0px #000000;
    box-shadow: 5px 5px 15px 0px #000000;
    min-width: 480px;
    /* align-items: center; */
    /* align-content: center; */
    margin-left: 25vw;
}
 
 h1 {
    display: inline-block;
    padding-top: 60px;
    margin-left: -291px;
    /* break-inside: auto; */
    /* word-break: break-all; */
    width: 75%;
    text-align: center;
}
 
 .h3, h3 {
    font-size: calc(1.3rem + 2.6vw);
}
 
 .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 92px;
    margin-bottom: 0;
    list-style: none;
}
 
 .small-logo {
    width: 14vw;
    height: 4vh;
    margin-top: 8%;
    margin-left: 35%;
}
 
 .fs-4 {
    font-size: calc(1.275rem + 2.3vw)!important;
    margin-left: 16%;
}
 
 li {
    margin-left: -2%;
}
 
 .cardsize {
    width: 81vw;
    height: 70vh;
    border-radius: 5%;
    margin-top: 25%;
    margin-left: -4%;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 15px 0px #000000;
    box-shadow: 5px 5px 15px 0px #000000;
}
 
 .services {
    background-color: #5099d2;
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 271vh;
}
 
}
